{% extends 'base.html' %} {% block title %}
<title>LITReview - Vos abonnements</title>
{% endblock %} {% block content %}
{% if messages %} {% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message}}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endif %}

<section class="my-4">
  <h3 class="text-center mb-3">Suivre d'autres utilisateurs</h3>
  <form method="GET" action="">
    {% csrf_token %}
    <div>{{ form.as_p }}</div>
    <div class="text-center mt-4">
      <input class="btn btn-primary btn-lg" type="submit" value="Suivre" />
    </div>
  </form>

  {% for user in search_result %}
  <form method="POST" class="w-100">
    {% csrf_token %}
    <div class="row mx-0 px-0 my-3">
      <p class="w-75 align-items-center">{{user.username }}</p>
      {% if user not in user_following %}
      <input type="hidden" name="user_id" value="{{user.id}}" />
      <input
        type="submit"
        class="btn btn-success w-25 flex-end"
        value="S'abonner à {{ user.username }}"
      />
    </div>
  </form>

  {% endif %} {% endfor %}
</section>
<section class="my-4">
  <h3 class="text-center mb-3">Vos abonnements</h3>
  {% if user_following.count == 0 %}
  <p class="">Vous n'avez jusque là aucun abonnement...</p>
  {% else %} {% for followed_user in user_following %}
  <form method="POST">
    {{ delete_form }} {% csrf_token %}
    <div class="row mb-3">
      <p class="w-75 align-items-center">
        {{ followed_user.followed_user.username }}
      </p>
      <input
        type="hidden"
        name="user_id"
        value="{{followed_user.followed_user.id}}"
      />
      <input
        type="submit"
        class="btn btn-danger w-25 flex-end"
        value="Se désabonner de {{ followed_user.followed_user.username }}"
      />
    </div>
  </form>
  {% endfor %} {% endif %}
</section>
<section class="my-4">
  <h3 class="text-center mb-3">Vos abonnés</h3>
  {% if user_followed_by.count == 0 %}
  <p class="">Vous n'avez jusque là aucun abonnement...</p>
  {% else %} {% for user_follow in user_followed_by %}
  <p>{{ user_follow.user.username }}</p>
  {% endfor %} {% endif %}
</section>
{% endblock %}
